* {
    color: white;
}

.row {
    margin-left: 3rem;
    color: #fff;
}

.posters {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
}

.posters::-webkit-scrollbar {
    display: none;
}

.poster {
    max-height: 210px;
    margin-right: 10px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.small_poster {
    cursor: pointer;
    max-height: 150px;
    margin-right: 10px;
    transition: transform 0.3s ease-in-out;
}

.poster:hover {
    transform: scale(1.1);
}

.small_poster:hover {
    transform: scale(1.1);
}

.close_btn {
    color: white;
    outline: invert;
    border: none;
    font-weight: 700;
    border-radius: 5px;
    background-color: rgba(209, 22, 22, 0.5);
    cursor: pointer;
}

.close_btn:hover {
    color: rgb(255, 255, 255);
    background-color: #e6e6e6;
}

.inner-shadow {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.7),
        /* Outermost shadow */
        inset 0 0 5px rgba(0, 0, 0, 0.6),
        inset 0 0 3px rgba(0, 0, 0, 0.5),
        inset 0 0 2px rgba(0, 0, 0, 0.4);
    /* Inner shadows */
}